---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
		<h1>About <span class="text-gradient">Astro</span></h1>
    <h2>This is a new Astro site!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos id consequatur a officia aperiam excepturi dolorem perspiciatis ducimus non maiores, inventore sapiente quaerat fugiat rem eum natus tempora perferendis. Officiis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia. Distinctio odit enim modi dolorem magnam autem alias eligendi repellendus eaque ad. Tempora iure perferendis maiores deleniti iste asperiores alias.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
